
.backgroundBody {
    background-image: url("../images/test.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    background-position: center;
}

.centerPopup{
   width: 66%;
   margin: auto;
   text-align: center;
   background-color: white;
}
.infoScreen{
    background-color: rgb(75, 75, 75);
    height: auto;
}
#col-mid{
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.btn {
    color: white;
    padding: 12px 20px;
    margin-left: 14px;
    margin-right: 0px;
    font-size: 16px;
    cursor: pointer;
  }

  .btn:hover {
    background-color: rgb(41, 41, 41);
    color: white;
  }

.centerPart{
    margin: auto;
    width: 23%;
}
.skipToCenter {
    height: 20%;
}

.animation {
    animation-name: changingText;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
}
.centerBorder {
    border: 4px solid black;
    border-radius: 30px;
    margin: auto;
    height: 12%;
    overflow: hidden;
    padding: 8px;
    text-align: center;
}
.someSpace {
    height: 3%;
}
.centerDescription {
    border: 4px solid black;
    border-radius: 30px;
    margin: auto;
    height: 12%;
    overflow: hidden;
    padding: 8px;
    text-align: center;
}

.centerExamples {
    border: 4px solid black;
    border-radius: 30px;
    margin: auto;
    height: 25%;
    overflow: hidden;
    padding: 8px;
    text-align: center;
}
@keyframes changingText {
    from {
        opacity: 0%;
    }
    to {
       opacity: 100%;
    }
  }